{% load static %}
<!DOCTYPE html>
<html lang ="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">  
</head>
<body>
    <main class="page-center">
        <section class="card">
            <h2>そだちノート</h2>
            <h3>～ログイン～</h3>

            {% if form.email.errors or form.password.errors %}
                <div class="form-error" role="alert">
                    未入力項目があります
                </div>
            {% endif %}

            {% if form.non_field_errors %}
                <div class = "form-error" role="alert">
                    {{ form.non_field_errors.0 }}
                </div>
            {% endif %}
            
            <form method="POST" novalidate>
            {% csrf_token %}
            <p>
                <label for="{{ form.email.id_for_label }}">メールアドレス</label>
                {{ form.email }}
                {{ form.email.errors }}

            </p>
            <p>
                <label for="{{ form.password.id_for_label }}">パスワード</label>
                {{ form.password }}
                {{ form.password.errors }}

            </p>
            
            <button type="submit" class="btn">ログイン</button>
            </form>
                              
            <nav class = "form-links">
                <a class="link-item" href="{% url 'accounts:signup_facility' %}">【施設用】新規アカウント登録</a>
                <a class="link-item" href="{% url 'accounts:signup_guardian' %}">【園児用】新規アカウント登録</a>
                <p>パスワードを忘れた方は<a class="link-item" href="{% url 'password_reset' %}">こちら</a></p>
            </nav>
        </section>
    </main>
</body>
</html>
