{% load static %}
<!DOCTYPE html>
<html lang ="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>パスワード再設定</title>
    <link rel="stylesheet" href="{% static 'css/password_1.css' %}">  
</head>
<body>
    <main class="page-center">
        <section class="card">
            <h1 class="title">そだちノート</h1>
            <h2 class="subtitle">～パスワード再設定～</h2>

            {% if form.new_password2.errors %}
            <div class="form-error" role="alert">パスワードが一致しません</div>
            {% endif %} 

            {% if form.non_field_errors %}
            <div class = "form-error" role="alert">{{ form.non_field_errors.0 }}</div>
            {% endif %}

            <form method="POST" novalidate>
                {% csrf_token%}

                <p class="field">
                <label for="{{ form.new_password1.id_for_label }}">新しいパスワード</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                </p>

                <p class="field">
                <label for="{{ form.new_password2.id_for_label }}">新しいパスワード（確認用）</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}

                </p>

                <button class="btn" type="submit">登録</button>
            </form>
    </main>
<body>
<html>

