html,body { 
  height: 100%;
  margin: 0; } 

.page-center{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.card{
    width: 100%;
    max-width: 340px;
    padding: 20px; /*内側の余白*/
}

.title{
    margin:0 0 4px; /*外側の余白*/
    font-size: 30px;
    text-align: center; /*中央寄せ*/
}

.subtitle{ 
    margin: 0 0 20px; 
    font-size: 18px;
    text-align: center;
}

.form-note{ 
    margin: 0 0 20px; 
    font-size: 16px;
    text-align: center;
}

.field{
    display: grid;
    gap: 6px;
    margin:0 0 12px;
}
label{
    font-size: 18px;
    margin: 0 8px 0;

}

input[type="email"]{
  box-sizing: border-box;
  margin: 0 8px 0;
  padding: 8px;
  outline: none;
  font-size: 14px;
}

.form-error{
    margin: 0 0 20px;
    color:red;
    font-size: 16px;
    text-align: center;
}

.btn{
  display: block;
  margin: 20px 80px 20px 80px;
  padding: 10px 20px;
  background:#cfe1ff; 
  font-size: 16px;
}

.link-item{
    display: block;
    margin: 0 auto;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-size: 16px;
  text-align: center;
}