*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body { 
  height: 100%;
} 

.page-center{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.card{
    width: 100%;
    max-width: 340px;
    padding: 20px;
    margin: 0 auto;
}

.title{
    margin:0 0 4px; 
    font-size: 30px;
    text-align: center; 
}

.subtitle{ 
    margin: 0 0 20px; 
    font-size: 18px;
    text-align: center;
}

.form-note{ 
    margin: 0 0 20px; 
    font-size: 14px;
    text-align: center;
}

.field{
    display: grid;
    gap: 6px;
    margin:0 0 12px;
}

label{
    font-size: 18px;
    margin: 0 10px;
}

input[type="email"],
input[type="password"],
input[type="text"]{
  box-sizing: border-box;
  margin: 0 10px;
  padding: 8px;
  outline: none;
  font-size: 14px;
  width: calc(100% - 20px);
}

.form-error{
    margin: 0 0 12px;
    color:red;
    font-size: 16px;
    text-align: center;
}

.form-success{
    margin: 0 0 12px;
    color: blue;
    font-size: 14px;
    text-align: center;
}

.btn{
    display: block;
    width: 70%;
    margin: 20px auto 0;
    padding: 10px 0;
    background:#cfe1ff; 
    font-size: 16px;
}

.link-item{
    display: block;
    margin: 0 auto;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 16px;
    text-align: center;
}

.helper-warn{
    color: red;
    font-size: 12px;
    font-weight: normal;
    margin-left: 6px;
}
