html,body { 
  height: 100%;
  margin: 0; } 

.page-center{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.card{
    width: 100%;
    max-width: 340px;
    padding: 20px; 
}

.title{
    margin:0 0 4px;
    font-size: 30px;
    text-align: center;
}

.subtitle{ 
    margin: 0 0 20px; 
    font-size: 16px;
    text-align: center;
}

.form-note{ 
    margin: 0 0 16px; 
    font-size: 14px;
    text-align: center;
}

.field{
    display: grid;
    gap: 6px;
    margin:0 0 14px;
    padding: 0 12px;
}

label{
    font-size: 16px;
}

input[type="password"]{
  box-sizing: border-box;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

.form-error{
    margin: 0 0 30px;
    color:red;
    font-size: 14px;
    text-align: center;
}

ul.errorlist{
    margin: 4px 12px;
    color:red;
    font-size: 14px;
    text-align: left;
    list-style: none;
    padding: 0;
}

.btn{
  display: block;
  margin: 30px auto 0;
  padding: 10px 45px;
  background:#cfe1ff; 
  font-size: 16px;
}
