*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body { 
  height: 100%;
} 

.page-center{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 16px;
}

.card{
    width: 100%;
    max-width: 340px;
    padding: 20px;
    margin: 0 auto;
}

.title{
    margin:0 0 4px;
    font-size: 20px;
    text-align: center; 
}

.subtitle{ 
    margin: 0 0 14px; 
    font-size: 14px;
    text-align: center;
}

.field{
    display: grid;
    gap: 6px;
    margin:0 0 12px;
}

label{
    font-size: 14px;
    margin: 0 10px;
}

/* エラー時のラベル（赤字） */
label.is-error{
  color: red;
}

.helper{
    font-size: 12px;
    margin-left: 10px;
}

.helper.-warn{
    color:red
}

input[type="email"],
input[type="text"],
input[type="password"],
select{
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 8px;
    outline: none;
    font-size: 14px;
}

.form-error{
    margin: 0 0 12px;
    color:red;
    font-size: 16px;
    text-align: center;
}

/* 各項目のエラー表示は非表示 */
ul.errorlist{
    display: none;
}

.btn{
    display: block;
    width: 70%;
    margin: 20px auto 0;
    padding: 10px 0;
    background:#cfe1ff; 
    font-size: 16px;
}

