{% extends "base.html" %}
{% load static %}

{% block title %}おたより詳細{% endblock %}

{% block head_extra %} 
<link rel="stylesheet" href="{% static 'css/notices.css' %}">
{% endblock %}

{% block content %}
<div class="notice-frame">
    <div class="page-title">園からのおたより詳細</div>
    
    <div class="notice-detail-header">
        <div class="notice-detail-top-row">
            <span class="notice-date">{{ notice.date|date:"Y/n/j" }}</span>
            <span class="chip">{{ notice.get_category_display }}</span>
        </div>
        <div class="notice-detail-title">{{ notice.title }}</div>
    </div>

    <div class="notice-body">
        {{ body_clean|linebreaksbr }}
    </div>
    
    {% if notice.file %}
        <section class="notice-attachment">
            <a href="#imgModal" class="attach-link">添付資料</a>
        </section>
    {% endif %}                  

    <div class="notice-detail-buttons">
        <a href="{% url 'notices:list' %}?{{ request.GET.urlencode }}" class="notice-detail-btn">
            戻る
        </a>
    </div>
    
        <div id="imgModal" class="m">
            <a href="#" class ="m__bg" aria-label="閉じる"></a>

            <div class="m__box" role="dialog" aria-modal="true">
                <a href="#" class="m__close" aria-label="閉じる">×</a>

                <div class="m__body">
                    <img src="{{ notice.file.url }}" alt="添付資料" class="m__img">
                </div>
            </div>
        </div>
    
    {% if can_edit %}
        <a href="{% url 'notices:edit' notice.pk %}" class="notice-detail-btn-secondary">
            編集画面へ
        </a>
    {% endif %}
</div>

{% endblock %}
