{% extends "base.html" %}
{% load static %}

{% block title %}おたより詳細{% endblock %}

{% block head_extra %}  
  <link rel="stylesheet" href="{% static 'css/notices.css' %}">
{% endblock %}

{% block content %}
<div class="notice-frame">
    <div class="page-title">園からのおたより詳細</div>

            <div class="notice-detail-header">
                <div class="notice-detail-top-row">
                    <span class="notice-date">{{ notice.date|date:"Y/n/j" }}</span>
                    <span class="chip">{{ notice.get_category_display }}</span>
                </div>
                <div class="notice-detail-title">{{ notice.title }}</div>
            </div>

            <div class="notice-body">
                {{ notice.body }}
            </div>
             
            {% if notice.file %}
                <section class="notice-attachment">
                    <div class="section-title">添付資料</div>
                    <a href="{{ notice.file.url }}" target="_blank" rel="noopener">
                        添付資料
                    </a>
                </section>
            {% endif %}
                        
            <div class="notice-detail-buttons">
                <a href="{% url 'notices:list' %}" class="notice-detail-btn">
                    戻る                  
                </a>
            </div>
                {% if request.user.nursery %}
                     <a href="{% url 'notices:edit' notice.pk %}" class="notice-detail-btn-secondary">
                        編集画面へ
                    </a>
                {% endif %}
    </div>
</div>
{% endblock %}
